apiVersion: v1
kind: Secret
metadata:
  name: test-secret
type: Opaque
data:
  api-key: QUtJQV9GQUtFQVBJS0VZMTIz  # Base64 of AKIAFAKE123456EXAMPLE
  password: c2VjdXJlX2JhZGVfUGFzcw==  # Base64 of “secure_bad_Pass”
