apiVersion: v1
kind: Secret
metadata:
  name: test-secret
type: Opaque
data:
  aws_key: QUtJQUZBRkVFWFhYWFhY  # Base64 of AKIAFAKEEXAMPLE12345
  stripe: c2tfdGVzdF9GQUtFc3RyaXBl  # Base64 of sk_test_FAKEstripe1234567890
